/*
 * "classy-black" skin.
 *
 * A sophisticated matte-black theme. Enable in _config.yml with:
 *
 *     oceanic:
 *       skin: classy-black
 */

/**********************************************************************/
/* Fonts                                                              */
/**********************************************************************/

@import url(
	'https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'
);

$default-font: 'Lato', Helvetica, 'Arial', sans-serif;
$site-title-font: 'Lora', serif;
$header-font: 'Lato', Helvetica, 'Arial', sans-serif;
$heading-font: 'Lora', serif;
$aside-font: 'Lato', 'Helvetica', 'Arial', sans-serif;
$code-font: 'JetBrains Mono', monospace;;
$table-header-font: 'Lora', serif;
$table-cell-font: "Lato", sans-serif;

/**********************************************************************/
/* Header                                                             */
/**********************************************************************/

$body-background: linear-gradient(90deg, #222222 0%, #262626 50%);
$header-seam: 2px dashed #e69973;
$avatar-aura-color: #e69973;
$header-text-color: #DDD;
$subtitle-font-weight: 300;
$selected-navigation-color: #FFA200;
$header-separator: 2px solid #DDD;
$social-media-icon-color: #AAA;
$hamburger-menu-color: #BBB;

/**********************************************************************/
/* Content Area                                                       */
/**********************************************************************/

$title-color: #E87C0C;
$title-underline-color: #01807B;
$text-color: #3B3224;
$heading-color: #3B3224;
$link-unvisited-color: #30562B;
$link-visited-color: #8CBB3A;
$table-border-style: 3px solid #BBB;
$table-cell-border-style: 1px solid #BBB;
